.header {
  position: absolute;
  width: 88%;
  display: flex;
  margin: 0 56px;
  padding: 70px 45px 70px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  a
  {
    display: flex;
  }


  @media (max-width: 1000px)
  {
    margin: 0 30px;
  }

}

.Logo{
  height: 36px;
  width: 134px;
  margin-right: 40px;
  cursor: pointer;
  object-fit: contain;

  @media (min-width: 1449px)
  {
    height: 45px;
    width: 167px;
  }
}